<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ainisi.queenmirror.queenmirrorcduan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 友盟分享权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 高德地图所需权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_queen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_queen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.activity.SelectCityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.activity.EstheticsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.activity.FullActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.PurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.SubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineDiscountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineInvincibleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineQueenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineBeanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.PortraitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.UserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.UserpassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.UserphoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.InstallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.ReplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MyWeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MeDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.HerDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.activity.OrderMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineMyFootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineEvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MinePositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineGiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.SeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineRealnameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MinePaymentsettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineMyWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineBeautyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineAskproblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineMyServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineAddcartActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.home.mineactivity.MineBalanceActivity" />
        <activity
            android:name=".ui.home.mineactivity.MineRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineWithdrawalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineCommonProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.mineactivity.MineDetailedActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.home.activity.DetailActivity" />
        <activity android:name=".ui.home.activity.BeanstalkActivity" />
        <activity android:name=".ui.shop.WorkRoomDetailActivity" />
        <activity android:name=".ui.home.activity.ShopClassificationActivity" />
        <activity android:name=".ui.shop.ShoppingCartActivity" />
        <activity android:name=".ui.home.activity.HomeFightaloneActivity"></activity>
    </application>

</manifest>